<h1>Friendships Requests</h1>


<% if !@friendships_requests.empty?%>
<% @friendships_requests.each do |request|%>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title"><%= request.sender.name %></h5>
    <p class="card-text">Wants to be your friend</p>
   <%=link_to "Accept", friendship_path(request), method: :put, class: "btn btn-secondary"  %>
   <%=link_to "Decline",friendship_path(request), method: :delete, class: "btn btn-secondary"  %>
  </div>
</div>

<%end%>

<%else%>
<h2>You dont have friendship requests!</h2>
<%end%>